In [30]:
from mysql.connector import connect

In [32]:
# tao connection
# tao cursor de thuc hien cau truy van
# doc va xu ly ket qua tra ve
# dong cursor, dong connection

In [34]:
# tao connection
# chuan bi thong tin ket noi
server ='localhost'
db = 'salesdb'
username = 'root'
pwd = ''
conn = connect(host=server, database=db, user=username, password=pwd)

In [36]:
# tao cursor de thuc hien cau truy van
sql = 'select * from customers where City = %s limit %s' #the %s represents the parameter to be passed in

data=('London', 4)
#Create a data tuple

cur = conn.cursor()
cur.execute(sql, data)
#Fetch the 'London' value into the first parameter 'City = %s' => City = 'London'
#Fetch the 4 value into the seconde parameter 'limit %s' => limit 4
#Final command: "select * from customers where City = 'London' limit 4"

In [38]:
# doc va xu ly ket qua tra ve
for row in cur: # fetch one
    print(row)

(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788')
(11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212')
(16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282')
(19, 'Ann', 'Devon', 'London', 'UK', '(171) 555-0297')

In [40]:
# dong cursor, dong connection
cur.close()
conn.close()