In [2]:
from mysql.connector import connect

In [4]:
# tao connection
# tao cursor de thuc hien cau truy van
# doc va xu ly ket qua tra ve
# dong cursor, dong connection

In [20]:
server ='localhost'
db = 'salesdb'
username = 'root'
pwd = ''
conn = connect(host=server, database=db, user=username, password=pwd)
curs = conn.cursor()

sql1 = '''
update products
set UnitPrice = %(unit_price)s 
where ProductName = %(name)s and SupplierId = %(sid)s;
'''

data_list = [
    {'unit_price': 20.0, 'sid': 1, 'name': 'Chang'},
    {'unit_price': 31.5, 'sid': 4, 'name': 'Ikura'},
    {'unit_price': 23.5, 'sid': 6, 'name': 'Tofu'},
]

curs.executemany(sql1, data_list) #Use EXECUTEMANY()

curs.close()
conn.close()

In [22]:
conn = connect(host=server, database=db, user=username, password=pwd)
curs = conn.cursor()

sql2 = '''
select * from products
where ProductName = %(name)s and SupplierId = %(sid)s;
'''

data_list = [
    {'unit_price': 20.0, 'sid': 1, 'name': 'Chang'},
    {'unit_price': 31.5, 'sid': 4, 'name': 'Ikura'},
    {'unit_price': 23.5, 'sid': 6, 'name': 'Tofu'},
]

for data in data_list:
    result = curs.execute(sql2, data)
    result=curs.fetchone()
    print(result)

curs.close()
conn.close()

(2, 'Chang', 1, Decimal('20.00'), '24 - 12 oz bottles', 0)
(10, 'Ikura', 4, Decimal('31.50'), '12 - 200 ml jars', 0)
(14, 'Tofu', 6, Decimal('23.50'), '40 - 100 g pkgs.', 0)