In [1]:
#Các cột trong df có kiểu dạng str nhưng thực chất lại là "object"
#Do đó nếu muốn thao tác trên những chuỗi này thì phải chuyển nó từ object sang string trước

In [2]:
import numpy as np
import pandas as pd

In [4]:
emp = pd.read_excel('/home/long/Documents/Data Science/2. Python for DS/file of Bảng tin/employees.xls')
dpmt = pd.read_excel('/home/long/Documents/Data Science/2. Python for DS/file of Bảng tin/departments(22).xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
emp1 = emp[['EMPLOYEE_ID', 'FIRST_NAME', 'SALARY', 'DEPARTMENT_ID']]

In [6]:
df_emp1_dpmt = pd.merge(emp1,dpmt[['DEPARTMENT_ID','DEPARTMENT_NAME']])

In [15]:
df_emp1_dpmt.head()

   EMPLOYEE_ID FIRST_NAME  SALARY  DEPARTMENT_ID DEPARTMENT_NAME
0          100     Steven   24000           90.0       Executive
1          101      Neena   17000           90.0       Executive
2          102        Lex   17000           90.0       Executive
3          103  Alexander    9000           60.0              IT
4          104      Bruce    6000           60.0              IT

In [10]:
df_emp1_dpmt.columns

Index(['EMPLOYEE_ID', 'FIRST_NAME', 'SALARY', 'DEPARTMENT_ID',
       'DEPARTMENT_NAME'],
      dtype='object')

In [11]:
df_emp1_dpmt.info() #Xuất ra các thông tin liên quan tới df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EMPLOYEE_ID      106 non-null    int64
 1   FIRST_NAME       106 non-null    object
 2   SALARY           106 non-null    int64
 3   DEPARTMENT_ID    106 non-null    float64
 4   DEPARTMENT_NAME  106 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.3+ KB

In [12]:
df_emp1_dpmt['FIRST_NAME']

0         Steven
1          Neena
2            Lex
3      Alexander
4          Bruce
         ...
101          Pat
102        Susan
103      Hermann
104      Shelley
105      William
Name: FIRST_NAME, Length: 106, dtype: object

In [14]:
df_emp1_dpmt['FIRST_NAME'].str.upper() #Chuyển hết dữ liệu trong cột FIRST_NAME từ object thành string, rồi upper() để viết hoa lên

0         STEVEN
1          NEENA
2            LEX
3      ALEXANDER
4          BRUCE
         ...
101          PAT
102        SUSAN
103      HERMANN
104      SHELLEY
105      WILLIAM
Name: FIRST_NAME, Length: 106, dtype: object

In [16]:
#--------------------------------------------REGULAR EXPRESSION (RE)---------------------------------------#
'''
import re : để  import thư viện regular expression vào rồi mới dùng được mấy cái bên dưới

^a...s$: dấu ^ là bắt đầu chuỗi, dấu $ là kết thúc chuỗi, mỗi dấu chấm "." là một ký tự
         Cách ghi này có nghĩa là tìm một chuỗi bắt đầu bằng "a", kết thúc bằng "s", ở giữa có ba ký tự bất kỳ

cat|mat (or): tìm chuỗi "cat" hoặc "mat"
gr(e|a)y: tìm chuỗi "grey" hoặc "gray"

"colou?r": tìm "colour" hoặc "color". Chữ "u" đứng trước dấu "?" thì nó có thể  không xuất hiện, hoặc chỉ xuất hiện một lần duy nhất
"94*9": tìm "99" hoặc "949" hoặc "9449" hoặc.... Số  '4' đứng trước dấu *, nghĩa là số 4 có thể không có, hoặc có thể có xuất hiện nhiều lần
"36+40": tìm 3640, hoặc 36640 hoặc.... Số 6 đứng trước dấu '+' nghĩa là nó phải xuất hiện ít nhất một lần, hoặc nhiều lần

"go{2,3}gle": tìm "google" hoặc "gooogle"... o{2,3} nghĩa là chữ "o" chỉ xuất hiện 2 lần hoặc 3 lần
"9{3}": nghĩa là "999", tức số 9 xuất hiện đúng 3 lần
"s{2,}: "ss" hoặc "sss" hoặc...nghĩa là chữ "s" xuất hiện ít nhất hai lần, hoặc nhiều hơn (phía sau dấu phẩy không có gì, 
                                                                                            tức không áp giới hạn trên)

[xyz]: là tìm 'x' hoặc 'y' hoặc 'z'

[a-z]: tìm từ 'a' đến 'z' chữ thường
[A-Z]: tìm từ 'A' đến 'Z' chữ hoa
[a-zA-Z]: tìm tất cả ký tự a-z chữ thường và chữ hoa

[^0-9]: thấy các ký tự số  từ 0 đến 9 thì loại ra, không tìm

\d: ký số  [0-9]
\D: không phải ký số 
\s: ký tự đơn là tab(\t), newline (\n), khoảng trắng (\v)
\w: ký tự [a-zA-Z0-9]
\w+: 1 hoặc nhiều ký tự [a-zA-Z0-9]
'''

'\nimport re : để  import thư viện regular expression vào rồi mới dùng được mấy cái bên dưới\n\n^a...s$: dấu ^ là bắt đầu chuỗi, dấu $ là kết thúc chuỗi, mỗi dấu chấm "." là một ký tự\n         Cách ghi này có nghĩa là tìm một chuỗi bắt đầu bằng "a", kết thúc bằng "s", ở giữa có ba ký tự bất kỳ\n\ncat|mat (or): tìm chuỗi "cat" hoặc "mat"\ngr(e|a)y: tìm chuỗi "grey" hoặc "gray"\n\n"colou?r": tìm "colour" hoặc "color". Chữ "u" đứng trước dấu "?" thì nó có thể  không xuất hiện, hoặc chỉ xuất hiện một lần duy nhất\n"94*9": tìm "99" hoặc "949" hoặc "9449" hoặc.... Số  \'4\' đứng trước dấu *, nghĩa là số 4 có thể không có, hoặc có thể có xuất hiện nhiều lần\n"36+40": tìm 3640, hoặc 36640 hoặc.... Số 6 đứng trước dấu \'+\' nghĩa là nó phải xuất hiện ít nhất một lần, hoặc nhiều lần\n\n"go{2,3}gle": tìm "google" hoặc "gooogle"... o{2,3} nghĩa là chữ "o" chỉ xuất hiện 2 lần hoặc 3 lần\n"9{3}": nghĩa là "999", tức số 9 xuất hiện đúng 3 lần\n"s{2,}: "ss" hoặc "sss" hoặc...nghĩa là chữ "s" xuất hiện ít nhất hai lần, hoặc nhiều hơn (phía sau dấu phẩy không có gì, \n                                                                                            tức không áp giới hạn trên)\n\n[xyz]: là tìm \'x\' hoặc \'y\' hoặc \'z\'\n\n[a-z]: tìm từ \'a\' đến \'z\' chữ thường\n[A-Z]: tìm từ \'A\' đến \'Z\' chữ hoa\n[a-zA-Z]: tìm tất cả ký tự a-z chữ thường và chữ hoa\n\n[^0-9]: thấy các ký tự số  từ 0 đến 9 thì loại ra, không tìm\n\n\\d: ký số  [0-9]\n\\D: không phải ký số \n\\s: ký tự đơn là tab(\t), newline (\n), khoảng trắng (\x0b)\n\\w: ký tự [a-zA-Z0-9]\n\\w+: 1 hoặc nhiều ký tự [a-zA-Z0-9]\n'