In [1]:
#Timestamp là một dạng dữ liệu thể hiện dưới dạng chuỗi số  integer, đại diện cho một mốc thời gian nào đó
#Hàm pandas.to_datetime giúp chuyển đổi timestamp thành dạng datetime (dd/mm/yyyy) cho dễ đọc

In [2]:
import numpy as np
import pandas as pd

In [3]:
tags = pd.read_excel('/home/long/Documents/Data Science/2. Python for DS/file of Bảng tin/movies(11).xlsx', 'tags')

In [4]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [6]:
pd.to_datetime(tags['timestamp'], unit='s') #Chuyển từ dạng timestamp sang dạng datetime
                                             #unit='s' tức đổi tới đơn vị là giây (second)

0      2006-01-29 12:29:30
1      2007-10-26 21:44:21
2      2007-02-04 03:49:57
3      2007-02-04 21:59:26
4      2006-03-03 13:16:05
               ...
1291   2015-07-12 06:01:25
1292   2015-07-12 06:01:25
1293   2015-07-12 06:01:25
1294   2015-08-01 03:01:18
1295   2015-08-01 03:00:50
Name: timestamp, Length: 1296, dtype: datetime64[ns]

In [8]:
tags['parsed_time'] = pd.to_datetime(tags['timestamp'], unit='s')
#Tạo thêm một cột mới trong df tags với tên là 'parsed_time'
#Cột đó chứa dữ liệu datetime, được chuyển đổi từ timestamp sang nhờ hàm pd.to_datetime

In [9]:
tags.head()

   userId  movieId                      tag   timestamp         parsed_time
0      15      339  sandra 'boring' bullock  1138537770 2006-01-29 12:29:30
1      15     1955                  dentist  1193435061 2007-10-26 21:44:21
2      15     7478                 Cambodia  1170560997 2007-02-04 03:49:57
3      15    32892                  Russian  1170626366 2007-02-04 21:59:26
4      15    34162              forgettable  1141391765 2006-03-03 13:16:05

In [10]:
tags.info() #Dữ liệu cột parsed_time là datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       1296 non-null   int64
 1   movieId      1296 non-null   int64
 2   tag          1296 non-null   object
 3   timestamp    1296 non-null   int64
 4   parsed_time  1296 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 50.8+ KB